<% layout('layouts/boilerplate') %>
<div class="row">
    <h2 class="text-center">Edit</h2>
    <div class="col-6 offset-3">
        <form action="/trips/<%= trip._id %>?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="place">Place</label>
                <input class="form-control" type="text" id="place" name="trip[place]" value="<%= trip.place %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="trip[location]" value="<%= trip.location %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="country">Country</label>
                <input class="form-control" type="text" id="country" name="trip[country]" value="<%= trip.country %>" required>
            </div> 
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control " type="text" id="description" name="trip[description]" required><%= trip.description %></textarea>
            </div>
            <div class="mb-3">
                <label for="">More Images</label>
                <div class="input-group custom-file">
                    <input class="form-control" id="image" type="file" name="image" multiple>
                    <label for="image" class="input-group-text">
                        <span class="custom-file-label"><i class="fas fa-angle-double-up"></i></span>  
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <% trip.images.forEach(function(img, i) { %>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                    </div>
                    <label for="image-<%= i %>"><i class="fas fa-trash-alt"></i></label>
                <% }) %>
            </div> 
            <div class="mb-3">
                <button class="btn btn-info">Update</button>
            </div>
        </form>
        <div>
            <a href="/trips/<%= trip._id %>">Back to trip</a>
        </div>
    </div>
</div>