<% layout('layouts/boilerplate') %>
    <h1>All Places!</h1>
    <div>
        <a href="/trips/new">Add Trip</a>
    </div>
    <div class="container">
            <% for (let trip of trips) { %>
                <div class="row">
                <div class="card mb-3">
                    <div class="col-md-4">
                        <% if(trip.images.length) { %>
                        <img class="img-fluid card-img-top" alt="" src="<%= trip.images[0].url %>">
                        <% } else { %>
                            <img class="img-fluid card-img-top" alt="" src="https://cdn.dribbble.com/users/2376224/screenshots/4761564/gallery_app_icon.gif">
                        <% } %>
                    </div>
                    <div>
                        <div class="card-body col-md-8">                        
                            <h5 class="card-title"><%= trip.place %></h5>
                            <p class="card-text text-muted"><%= trip.location %>,
                                <span style="font-weight: bold; text-transform: capitalize;"><%= trip.country %></span>
                            </p>
                            <p class="card-text">
                                <small><%= trip.description %></small>
                            </p>
                            <a class="btn btn-primary" href="/trips/<%= trip._id %>">View <%=trip.place %></a>
                        </div>
                    </div>
                </div>
        <% } %>    
        </div>
         
    </div>
    